KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}!="?*", SUBSYSTEMS=="usb", RUN+="/home/pi/utils/run.sh"
KERNEL=="hdraw0", ENV{ID_SERIAL}!="?*", SUBSYSTEMS=="usb", RUN+="/home/pi/utils/shutdown.sh"
